# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual environments
# ----------------------------
venv/
.env
.venv/
env/
ENV/

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/
.cache/

# ----------------------------
# Allure
# ----------------------------
allure-results/
allure-report/

# ----------------------------
# Coverage
# ----------------------------
.coverage
coverage.xml
htmlcov/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# GitLab CI temporary files
# ----------------------------
reports/